<header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">Administrador</a>
    </li>
  </ul>
</header>